.banner {
  img {
    height: 4em;
    width: 4em;
  }

  .headline {
    font-weight: bold;
    font-size: 1.75em;
  }
}

.sponsor {
  img {
    height: 3em;
  }
}

.card.categories {
  .card-header {
    font-weight: bold;
    justify-content: space-between;
    display: flex;
  }
}
