.project-title {
  font-size: 1.5em;

  a:hover {
    text-decoration: none;
  }

  .name {
    font-weight: 800;
  }
}

nav.project-nav {
  padding: 0.3em 0 0.3em 0;

  > .nav-link {
    background: lighten($sponge_light_gray, 8);
    border: 1px solid $sponge_light_gray;
    margin-right: 0.3em;
    color: white;
    border-radius: 0;
    padding: 6px 1em 6px 1em;

    &:hover {
      color: $gray-focus;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: $sponge_yellow;
      color: $sponge_light_gray;
      border: 1px solid darken($sponge_yellow, 10)
    }
  }
}
