.project-title {
  font-size: 1.5rem;

  a:hover {
    text-decoration: none;
  }

  .name {
    font-weight: 800;
  }
}

.project-nav {
  .nav-item {
    .nav-link.active {
      background: #f3f2f0;
      border-bottom-color: #f3f2f0;
    }
  }
}

.project-creation {
  ul.card {
    margin-bottom: 0;

    li {
      margin-bottom: 0.35rem;
    }
  }

  .sidebar {
    .list-group-item {
      display: flex;
      align-items: center;

      .fa-check, .fa-eye {
        margin-left: auto;
      }

      .fa-check {
        color: #3fa763;
      }

      .fa:not(.fa-check):not(.fa-eye) {
        margin-right: 0.5rem;
      }

      &.disabled {
        color: $gray-focus;
      }
    }
  }
}
