.project-title {
  font-size: 1.5em;

  a:hover {
    text-decoration: none;
  }

  .name {
    font-weight: 800;
  }
}

nav.project-nav {
  border-bottom: 2px solid lighten($sponge_light_gray, 10);

  > .nav-link {
    color: lighten($sponge_light_gray, 10);
    border-radius: 0;

    &:hover {
      color: $sponge_grey;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: transparent;
      color: lighten($sponge_light_gray, 10);
      font-weight: 800;
    }
  }
}
