@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.Platforms.Platform
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies.{values, _}
@import ore.project.{Categories, ProjectSortingStrategies}
@import ore.{OreConfig, Platforms}
@import play.api.Configuration
@import security.NonceFilter._
@import views.html.utils.alert

@import scala.util.Random
@(models: Seq[(Project, User, Version, Seq[Tag])], visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platform: Option[Platform])(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)

@projectRoutes = @{
    controllers.project.routes.Projects
}

@randomSponsor = @{
    val logos: Seq[Configuration] = config.sponge.get[Seq[Configuration]]("sponsors")

    val index = new Random().nextInt(logos.size)
    val logo = logos(index)

    (logo.get[String]("name"), logo.get[String]("image"), logo.get[String]("link"))
}

@categoryString = @{
    visibleCategories.map(_.map(_.id.toString).mkString(","))
}

@orderingOption = @{
    sort match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(sort.id)
    }
}

@platformOption = @{
    platform.map(_.name)
}

@maybeActive(pform: Platform) = @{
    platform.map { p =>
        if(p.equals(pform))
            "active"
        else
            ""
    }
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>

    <script nonce="@nonce">
    @if(visibleCategories.isDefined) {
    CATEGORY_STRING = "@visibleCategories.get.map(_.id).mkString(",")";
    }
    @if(!sort.equals(ProjectSortingStrategies.Default)) {
    SORT_STRING = "@sort.id";
    }
    @if(request.getQueryString("q").isDefined) {
    QUERY_STRING = "@request.getQueryString("q").get";
    }
    currentlyLoaded = @models.size;
    </script>
}

@bootstrap.layout(messages("general.title"), scripts) {
    <div class="row mb-3 align-items-center">
        <div class="col-md-9">
            <div class="row banner align-items-center no-gutters">
                <div class="col-auto">
                    <img src="@routes.Assets.at("images/ore-colored.svg")" class="img-fluid" />
                </div>
                <div class="col ml-3">
                    <div class="headline">Ore</div>
                    <div>A Minecraft package repository</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 sponsor text-center">
        @defining(randomSponsor) { sponsor =>
            <a href="@sponsor._3">
                <img class="logo img-fluid" src="@routes.Assets.at(sponsor._2)" />
            </a>
        }
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="input-group mb-3 project-search">
                <input type="text" class="form-control" placeholder="Search in projects..." aria-label="Search query" aria-describedby="search-button-addon">
                <div class="input-group-append">
                    <button class="btn btn-yellow" type="button" id="search-button-addon">Search</button>
                </div>
            </div>

            @if(query.isDefined) {
                <li class="list-group-item minor search-header">
                    <span class="pull-left">Showing results for: <i>@query</i></span>
                    <i class="fa fa-times pull-right dismiss"></i>
                    <div class="clearfix"></div>
                </li>
            }

            @projects.list(
                models = models,
                page = page,
                pageSize = config.projects.get[Int]("init-load"),
                call = page => routes.Application.showHome(
                    categoryString, query, orderingOption, Some(page), platformOption)
            )
        </div>

        <div class="col-md-3">
            <select class="custom-select mb-3 select-sort">
                <option selected value="@sort.id">@sort.title</option>
                @values.filterNot(_.equals(sort)).map { strategy =>
                    <option value="@strategy.id">@strategy.title</option>
                }
            </select>
            <div class="card categories">
                <div class="card-header">
                    @messages("project.category.plural")
                    @if(visibleCategories.isDefined) {
                        <a href="@routes.Application.showHome(None, None, None, None, None)">
                            <i class="category-reset fas fa-times"></i>
                        </a>
                    }
                </div>
                <div class="list-group">
                    @for(category <- Categories.visible) {
                        <a class="list-group-item list-group-item-action @if(visibleCategories.isDefined && visibleCategories.get.contains(category)) { active }"
                            href="@routes.Application.showHome(Some(Categories.toQueryStringWith(visibleCategories.getOrElse(Seq()), category)), query, Option(sort.id), Option(page), if (platform.isDefined) Some(platform.get.id.toString) else None)">
                            <i class="fa-fw @category.icon"></i>
                            @category.title
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
