@import java.sql.Timestamp
@import java.time.Instant

@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.admin.Review
@import models.project.{Flag, Project}
@import models.user.User
@import ore.OreConfig
@import util.StringUtils._
@(user: User, activities: Seq[(Object, Option[Project])])(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)

@bootstrap.layout(messages("activity.title") + user.username) {

    <div class="row">
        <div class="col">
            <h2>@messages("activity.title") <i>@user.username</i></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">@messages("activity.title")</div>
                <table class="table table-sm setting-no-border table-review-log">
                    <tbody>
                        @if(activities.isEmpty) {
                            <tr><td>No activities founds</td></tr>
                        }
                        @activities.map { tuple =>
                            @if(tuple._1.isInstanceOf[Review]) {
                                <tr>
                                    <td>Review approved</td>
                                    <td>@prettifyDateAndTime(tuple._1.asInstanceOf[Review].endedAt.getOrElse(Timestamp.from(Instant.EPOCH)))</td>
                                    <td>for:
                                        @if(tuple._2.isDefined) {
                                            <a href="@controllers.routes.Reviews.showReviews(tuple._2.get.ownerName, tuple._2.get.slug, tuple._1.asInstanceOf[Review].id.getOrElse(-1).toString)">
                                                @tuple._2.get.ownerName / @tuple._2.get.name
                                            </a>
                                        }
                                        @{println(tuple._2)}
                                    </td>
                                </tr>
                            }
                            @if(tuple._1.isInstanceOf[Flag]) {
                                <tr>
                                    <td>Flag resolved</td>
                                    <td>@prettifyDateAndTime(tuple._1.asInstanceOf[Flag].resolvedAt.getOrElse(Timestamp.from(Instant.EPOCH)))</td>
                                    <td>for:
                                        @if(tuple._2.isDefined) {
                                            <a href="@controllers.project.routes.Projects.show(tuple._2.get.ownerName, tuple._2.get.slug)">
                                                @tuple._2.get.ownerName / @tuple._2.get.name
                                            </a>
                                        }
                                        @{println(tuple._2)}
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
